include ../modules/head/head
include ../modules/header/header
include ../modules/footer/footer
include ../modules/widgets/widgets
include ../modules/paging/paging
include ../modules/breadcrumb/breadcrumb

doctype html
html(lang="vi")
  +head(head)
  body
    // header
    +header

    // main content
    block content

    // footer
    +footer

    // javascript library
    +script(head)
