mixin menu-expand(list, links, submenu = false)
  ul.menu.menu-expand-xl.menu-root
    each item, index in list
      if (!submenu || index != submenu)
        li.menu-item
          a.menu-link(href=links[index])= item
      else
        li.menu-item.menu-item-group
          a.menu-link(href=links[index])= item
          span.menu-toggle
            span
              i.fa.fa-angle-right
          ul.menu.menu-sub
            li.menu-item
              a.menu-link(href="#!") Menu sublink
            li.menu-item
              a.menu-link(href="#!") Menu sublink
            li.menu-item.menu-item-group
              a.menu-link(href="#!") Menu sublink
              span.menu-toggle
                span
                  i.fa.fa-angle-right
              ul.menu.menu-sub.menu-sub-2
                li.menu-item
                  a.menu-link(href="#!") Menu sublink
                li.menu-item
                  a.menu-link(href="#!") Menu sublink
                li.menu-item.menu-item-group
                  a.menu-link(href="#!") Menu sublink
                  span.menu-toggle
                    span
                      i.fa.fa-angle-right
                  ul.menu.menu-sub.menu-sub-3
                    li.menu-item
                      a.menu-link(href="#!") Menu sublink
                    li.menu-item
                      a.menu-link(href="#!") Menu sublink
                    li.menu-item
                      a.menu-link(href="#!") Menu sublink

mixin menu
  ul.menu
    li.menu-item
      a.menu-link(href="#!") Menu link
    li.menu-item.menu-item-group
      a.menu-link(href="#!") Menu link
      span.menu-toggle
        span
          i.fa.fa-angle-right
      ul.menu.menu-sub
        li.menu-item
          a.menu-link(href="#!") Menu sublink
        li.menu-item
          a.menu-link(href="#!") Menu sublink
        li.menu-item.menu-item-group
          a.menu-link(href="#!") Menu sublink
          span.menu-toggle
            span
              i.fa.fa-angle-right
          ul.menu.menu-sub.menu-sub-2
            li.menu-item
              a.menu-link(href="#!") Menu sublink
            li.menu-item
              a.menu-link(href="#!") Menu sublink
            li.menu-item.menu-item-group
              a.menu-link(href="#!") Menu sublink
              span.menu-toggle
                span
                  i.fa.fa-angle-right
              ul.menu.menu-sub.menu-sub-3
                li.menu-item
                  a.menu-link(href="#!") Menu sublink
                li.menu-item
                  a.menu-link(href="#!") Menu sublink
                li.menu-item
                  a.menu-link(href="#!") Menu sublink
    li.menu-item
      a.menu-link(href="#!") Menu link

mixin menu-hover-left
  ul.menu
    li.menu-item
      a.menu-link(href="#!") Menu link
    li.menu-item.menu-item-group
      a.menu-link(href="#!") Menu link
      span.menu-toggle
        span
          i.fa.fa-angle-right
      ul.menu.menu-sub.menu-float-xl
        li.menu-item
          a.menu-link(href="#!") Menu sublink
        li.menu-item
          a.menu-link(href="#!") Menu sublink
        li.menu-item.menu-item-group
          a.menu-link(href="#!") Menu sublink
          span.menu-toggle
            span
              i.fa.fa-angle-right
          ul.menu.menu-sub.menu-sub-2.menu-float-xl
            li.menu-item
              a.menu-link(href="#!") Menu sublink
            li.menu-item
              a.menu-link(href="#!") Menu sublink
            li.menu-item.menu-item-group
              a.menu-link(href="#!") Menu sublink
              span.menu-toggle
                span
                  i.fa.fa-angle-right
              ul.menu.menu-sub.menu-sub-3.menu-float-xl
                li.menu-item
                  a.menu-link(href="#!") Menu sublink
                li.menu-item
                  a.menu-link(href="#!") Menu sublink
                li.menu-item
                  a.menu-link(href="#!") Menu sublink
    li.menu-item
      a.menu-link(href="#!") Menu link

mixin menu-hover-right
  ul.menu
    li.menu-item
      a.menu-link(href="#!") Menu link
    li.menu-item.menu-item-group
      a.menu-link(href="#!") Menu link
      span.menu-toggle
        span
          i.fa.fa-angle-right
      ul.menu.menu-sub.menu-float-xl.menu-float-right
        li.menu-item
          a.menu-link(href="#!") Menu sublink
        li.menu-item
          a.menu-link(href="#!") Menu sublink
        li.menu-item.menu-item-group
          a.menu-link(href="#!") Menu sublink
          span.menu-toggle
            span
              i.fa.fa-angle-right
          ul.menu.menu-sub.menu-sub-2.menu-float-xl.menu-float-right
            li.menu-item
              a.menu-link(href="#!") Menu sublink
            li.menu-item
              a.menu-link(href="#!") Menu sublink
            li.menu-item.menu-item-group
              a.menu-link(href="#!") Menu sublink
              span.menu-toggle
                span
                  i.fa.fa-angle-right
              ul.menu.menu-sub.menu-sub-3.menu-float-xl.menu-float-right
                li.menu-item
                  a.menu-link(href="#!") Menu sublink
                li.menu-item
                  a.menu-link(href="#!") Menu sublink
                li.menu-item
                  a.menu-link(href="#!") Menu sublink
    li.menu-item
      a.menu-link(href="#!") Menu link

mixin menu-page-module
  .container
    .row
      .col-12.mb-30
        .card
          .card-header
            h5.card-title.mb-0 Menu expand
          +menu-expand

      .col-3.mb-30
        .card
          .card-header
            h5.card-title.mb-0 Menu hover left
          +menu-hover-left

      .col-3.mb-30

      .col-3.mb-30
        .card
          .card-header
            h5.card-title.mb-0 Menu
          +menu

      .col-3.mb-30
        .card
          .card-header
            h5.card-title.mb-0 Menu hover right
          +menu-hover-right
