// style the checkbox
.checkbox-styled {
  display: inline-block;
  cursor: pointer;
  margin-bottom: 0;
  position: relative;
  padding-left: 30px;

  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  &__icon {
    width: 18px;
    height: 18px;
    font-size: 18px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    position: absolute;
    top: 1px;
    left: 0;
    &::before {
      content: '\f00c';
      font-family: 'fontawesome';
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      font-size: 13px;
      transform: scale(0);
    }
  }

  &:hover &__icon {
    border-color: $primary;
  }

  &__input:checked + &__icon {
    border-color: $primary;
    &::before {
      transform: scale(1);
      transition: transform 0.2s cubic-bezier(0.68, -0.75, 0.265, 1.75);
    }
  }
}

// style the radio
.radio-styled {
  display: inline-block;
  cursor: pointer;
  margin-bottom: 0;
  position: relative;
  padding-left: 30px;

  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  &__icon {
    width: 18px;
    height: 18px;
    font-size: 18px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 0;

    &::before {
      content: '';
      display: inline-block;
      width: 10px;
      height: 10px;
      align-items: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: scale(0) translate(-50%, -50%);
      background-color: $primary;
      border-radius: 50%;
    }
  }

  &:hover &__icon {
    border-color: $primary;
  }

  &__input:checked + &__icon {
    border-color: $primary;

    &::before {
      transform: scale(1) translate(-50%, -50%);
      transition: transform 0.2s cubic-bezier(0.68, -0.75, 0.265, 1.75);
    }
  }
}

// product or cart page quantity
.product-quantity {
  width: 110px;

  .form-control {
    text-align: center;
    font-size: 14px;

    &:focus {
      box-shadow: unset;
    }
  }

  .input-group-text {
    font-size: 9px;
    background-color: #fff;
  }
}
