mixin social-btns
  .social-btns
    .addthis_inline_share_toolbox
    script(src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5cc3babc2eb2f52e")

mixin facebook-comments
  .facebook-comments
    // put right after body opening tag
    #fb-root
    script(async, defer, crossorigin="anonymous", src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.2&appId=599359267157821&autoLogAppEvents=1")

    // put this place
    .fb-comments(data-href="https://developers.facebook.com/docs/plugins/comments#configurator", data-width="100%", data-numposts="5")
