// spacing for last child
.m-first-0:first-child,
.m-last-0:last-child {
  margin: 0 !important;
}
.p-first-0:first-child,
.p-last-0:last-child {
  padding: 0 !important;
}

// border
.border-first-0:first-child,
.border-last-0:last-child {
  border: 0 !important;
}
