mixin post
  article.post
    h1 This is post title
    h2.post-sapo Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse nihil at eveniet quisquam rem, et dolorum quis, vero cupiditate, impedit recusandae libero consequuntur sunt ullam hic numquam fugit. Voluptas, voluptatum!
    .post-content
      p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam maiores rem dolores corporis nesciunt voluptatum debitis! Nulla asperiores, nisi vero, adipisci esse doloremque illo quia iste architecto error exercitationem eligendi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque accusantium voluptatum veniam, aspernatur, assumenda labore explicabo ipsa, aliquam neque deleniti obcaecati sint. Eos deserunt provident perferendis rerum inventore quia accusantium?
      p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam maiores rem dolores corporis nesciunt voluptatum debitis! Nulla asperiores, nisi vero, adipisci esse doloremque illo quia iste architecto error exercitationem eligendi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque accusantium voluptatum veniam, aspernatur, assumenda labore explicabo ipsa, aliquam neque deleniti obcaecati sint. Eos deserunt provident perferendis rerum inventore quia accusantium?
      img(src="http://via.placeholder.com/1200x800", alt="")
      p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam maiores rem dolores corporis nesciunt voluptatum debitis! Nulla asperiores, nisi vero, adipisci esse doloremque illo quia iste architecto error exercitationem eligendi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque accusantium voluptatum veniam, aspernatur, assumenda labore explicabo ipsa, aliquam neque deleniti obcaecati sint. Eos deserunt provident perferendis rerum inventore quia accusantium?
      p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam maiores rem dolores corporis nesciunt voluptatum debitis! Nulla asperiores, nisi vero, adipisci esse doloremque illo quia iste architecto error exercitationem eligendi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque accusantium voluptatum veniam, aspernatur, assumenda labore explicabo ipsa, aliquam neque deleniti obcaecati sint. Eos deserunt provident perferendis rerum inventore quia accusantium?
      p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam maiores rem dolores corporis nesciunt voluptatum debitis! Nulla asperiores, nisi vero, adipisci esse doloremque illo quia iste architecto error exercitationem eligendi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque accusantium voluptatum veniam, aspernatur, assumenda labore explicabo ipsa, aliquam neque deleniti obcaecati sint. Eos deserunt provident perferendis rerum inventore quia accusantium?
      p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam maiores rem dolores corporis nesciunt voluptatum debitis! Nulla asperiores, nisi vero, adipisci esse doloremque illo quia iste architecto error exercitationem eligendi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque accusantium voluptatum veniam, aspernatur, assumenda labore explicabo ipsa, aliquam neque deleniti obcaecati sint. Eos deserunt provident perferendis rerum inventore quia accusantium?

mixin convert-img-to-figure
  script.
    document.addEventListener('DOMContentLoaded', function() {
      Array.from(document.querySelectorAll('.post-content img'), function(img) {
        var parentNode = img.parentNode;
        var figure = document.createElement('figure');
        var figcaption = document.createElement('figcaption');
        var caption = document.createTextNode(img.getAttribute('alt'));
        figcaption.appendChild(caption);
        figure.appendChild(img);
        figure.appendChild(figcaption);
        parentNode.appendChild(figure);
      });
    });
